body {
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.headercolor{
    background-color:#1F2937;
}
.header {
    font-size: 24px;
    color: #f9faf8;
    display:flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.description {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}

.desc_without_img > h1 {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

.desc_without_img > button {
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9fafb;
    width: 100px;
    height: 28px;
    border: 0;
}
ul{
    display: flex;
    gap: 24px;
}
.header > ul > li {
    list-style-type: none;
}
.desc_without_img > p , .header > ul > li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.description > img {
    width: 320px;
    height: auto;
}

h2{
    text-align: center;
    size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 0;
    padding:0;
}

.information{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.info_individual > p {
    width: 150px;
    height: 48px;
    text-align:center;

}
.info_individual > a > img{
    width: 150px;
    height: 100px;
    border-radius: 8px;
    border-color: #3882f6;
}

.info_individual > a {
    order: -1;
}

.quote {
    background-color: #e5e7eb;
    padding-left: 150px;
    padding-right: 150px;
}
.quote > h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.quote > p {
    text-align:right;
    font-weight:bold;
    color:#1f2937;
    font-size: 36px;
}

.actiontime{
    background-color: #3882f6;
    margin:150px;
    display:flex;
    justify-content: space-between;
    border-radius: 8px;
}

.actiontime>div{
    margin-left: 96px;
}

.actiontime >div > h4 {
    font-weight: bold;
    color:#f9faf8;
    margin-bottom: 0;
}

.actiontime > div > p{
    color:#e5e7eb;
    font-weight:lighter;
    margin-top: 0;
}
.actiontime > button {
    align-self: center;
    margin-right: 96px;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9fafb;
    width: 100px;
    height: 28px;
    border: 2px solid white;
}
.footer{
    text-align: center;
    background-color:#1F2937;
    color:#f9faf8
}